<%= form_with model: @kitten do |form| %>
  <div class="col-sm-3">
      <%= form.label :name %><br />
      <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="col-sm-3">
      <%= form.label :age %><br />
      <%= form.number_field :age, class: "form-control" %>
      <br>
  </div>
  <div class="col-sm-3">
      <%= form.label :cuteness %><br />
      <%= form.number_field :cuteness, class: "form-control" %>
      <br>
  </div>
  <div class="col-sm-3">
      <%= form.label :softness %><br />
      <%= form.number_field :softness, class: "form-control" %>
      <br>
  </div>
 
  <div >
        <%= form.submit "Submit", class: "btn btn-primary btn-lg" %>
    </div>
    <br>
     <div >
        <%= link_to "Cancel", kittens_path, class: "btn btn-secondary" %>
    </div>
<% end %>