<h1>Kittens API</h1>
<div>
  <p>Here are all your kittens: </p>
</div>
<table class="table table-striped">
   <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Cuteness</th>
      <th scope="col">Softness</th>
      
    </tr>
  </thead>
  <tbody>
    <% @kittens.each do |kitten| %>
    <tr>
      <td style="width:12%"> <%=kitten.name%> </td>
      <td style="width:12%"><%= kitten.age %> </td>
      <td style="width:12%"><%= kitten.cuteness %> </td>
      <td style="width:12%"><%= kitten.softness %> </td>
      <td style="width:12%"><%= link_to "Profile", kitten, class: "btn btn-success" %></td>
    <% end %>
  </tbody>
  
</table>
