<h1>Kitten: <%=@kitten.name%></h1>

<table class="table table-striped">
   <thead>
    <tr>
      <th scope="col">Age</th>
      <th scope="col">Cuteness</th>
      <th scope="col">Softness</th>
      
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <td ><%= @kitten.age %> </td>
      <td ><%= @kitten.cuteness%> </td>
      <td ><%= @kitten.softness %> </td>
      <td ><%= link_to "Edit Kitten", edit_kitten_path%>

  </tbody>
  
</table>