<h1><%=@kitten.name%></h1>

<table class="table table-striped">
   <thead>
    <tr>
      <th scope="col">Age</th>
      <th scope="col">Cuteness</th>
      <th scope="col">Softness</th>
      
    </tr>
  </thead>
  <tbody>
  
    <tr>
      <td ><%= @kitten.age %> </td>
      <td ><%= @kitten.cuteness%> </td>
      <td ><%= @kitten.softness %> </td>
      <td ><%= link_to "Edit", edit_kitten_path, class: "btn btn-info"%>
     

  </tbody>

  
</table>

<%= button_to "Destroy", @kitten, method: :delete, class: "btn btn-danger"  %>